<ion-header>
  <ion-toolbar color="primary">
    <ion-title >mainPage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Visit MatchMaking</ion-card-subtitle>
      <ion-card-title>Name MatchMaking</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A simple MatchMaking Using Your Name, on which we check how much it matches with the other name you enter.
    </ion-card-content>
    <ion-button href="match-making">MatchMaking</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Visit contactDetails</ion-card-subtitle>
      <ion-card-title>Contact Details</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A simple contact display page help to see your contact list of the mobile phone you are using.
    </ion-card-content>
    <ion-button href="contact-details">ContactDetails</ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Budget Display</ion-card-subtitle>
      <ion-card-title>Budget Maker</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      A simple Budget Maker which take care of your day-to-day expenses.
    </ion-card-content>
    <ion-button href="budget-maker">BudgetMaker</ion-button>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Student Details</ion-card-subtitle>
      <ion-card-title>Student Full Information</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Student Details section where you can add students see their details later can edit and delete there infomation.
    </ion-card-content>
    <ion-button href="add-student">StudentDetails</ion-button>
  </ion-card>

  

</ion-content>
