@import 'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap';

.display{
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-size:20px;
}

.display-icon{
    margin:0 45.5%;
    font-size:100px;
    color:red;
}

button{
    margin-right:10px;
}

.matching{
    padding-top:50px;
}

h2{
    text-align: center;
}